.container header {
  background-image: url("./../image/imagen-principal.jpg");
  text-align: center;
  height: 250px;
  padding-top: 20px;
  font-size: 40px; }
  .container header h1 {
    color: white; }
  .container header h2 {
    color: white; }
  .container header button {
    background: red;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px; }

@media screen and (max-width: 768px) and (max-width: 768px) {
  .container header {
    position: fixed;
    height: 150px;
    width: 100%;
    top: 0; }
    .container header button {
      width: 50%;
      border: 2px solid white;
      text-align: center; }
    .container header h1 {
      font-size: 40px; }
    .container header h2 {
      font-size: 25px; }
  .container main .bloques {
    width: 60%;
    margin: 170px auto 0px;
    grid-template-rows: repeat(3, 1fr); }
    .container main .bloques img {
      grid-column: 1 / 3;
      grid-row-start: 1;
      grid-row-end: 4;
      margin: auto; }
    .container main .bloques .contenido {
      width: 100%;
      grid-column: 1 / 3;
      margin: 30px auto;
      grid-row-start: 4;
      grid-row-end: 6;
      padding-top: -10px;
      text-align: center; }
      .container main .bloques .contenido h3 {
        font-size: 40px; } }
